# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
env/

# Ignore VS Code settings
.vscode/

# Ignore model files (optional, they are large)
*.sav

# Ignore OS system files
.DS_Store
